@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Play';
    font-weight: normal;
    src: url('../fonts/Play-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Play';
    font-weight: bold;
    src: url('../fonts/Play-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'DelaGothicOne';
    font-weight: bold;
    src: url('../fonts/DelaGothicOne-Regular.ttf') format('truetype');
  }
  h1 {
    @apply font-headings md:text-5xl text-4xl text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
  h2 {
    @apply font-content font-bold md:text-[42px] text-[32px] text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
  h3 {
    @apply font-content font-bold md:text-2xl text-xl text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
  p {
    @apply font-content text-base text-white;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
